<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="Salat.Android"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application android:icon="@drawable/mecque" android:label="@string/app_name" android:debuggable="true" android:process="@string/app_name">
        <activity android:name=".SalatAndroid"
                  android:label="@string/app_name"
                  android:screenOrientation="nosensor"
                  android:launchMode="singleTop">
            <intent-filter>            	
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>             
        </activity>
	<receiver android:name=".AReceiver">
		<intent-filter>            	
            <action android:name="android.intent.category.START_ATHAN" />                
        </intent-filter>
    </receiver>
    </application>
    <uses-sdk android:minSdkVersion="3" />

</manifest> 